<div class="task-item">
  <mat-checkbox
    [checked]="isSelected()"
    (change)="selectedChange.emit($event.checked)"
    (click)="$event.stopPropagation()"
  />

  <mat-form-field appearance="outline" subscriptSizing="dynamic" class="status-field">
    <mat-select [value]="task().status" (selectionChange)="onStatusChange($event.value)">
      @for (status of statuses; track status) {
        <mat-option [value]="status">{{ status }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="task-content" (click)="view.emit(task())">
    <span class="title">{{ task().title }}</span>
    @if (task().description; as description) {
      <span class="description">{{ description }}</span>
    }
  </div>

  @if (task().dueDate; as dueDate) {
    <span class="due-date">{{ dueDate | date: 'mediumDate' }}</span>
  }

  <button mat-icon-button (click)="edit.emit(task())">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button (click)="delete.emit(task().id)">
    <mat-icon>delete</mat-icon>
  </button>
</div>
